# Interactive Visualization Lab

Complete the following set of exercises to solidify your knowledge of interactive visualization using Plotly, Cufflinks, and IPyWidgets.

In [3]:
import pandas as pd
import plotly.plotly as py
import cufflinks as cf
from ipywidgets import widgets
from ipywidgets import interact

cf.go_offline()

In [3]:
data = pd.read_excel('../data/Online Retail.xlsx')

## 1. Create an interactive bar chart showing total quantity and revenue by country (excluding United Kingdom) for the month of April 2011.

In [80]:
data['Month'] = data['InvoiceDate'].map(lambda x : x.strftime('%m'))
data['Year'] = data['InvoiceDate'].map(lambda x: x.strftime('%Y'))
data.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Month,Year
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,12,2010
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,12,2010
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,12,2010
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,12,2010
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,12,2010

In [85]:
mask = data['Country'] != 'United Kingdom'
quant_rev = data.loc[mask, :]
mask2 = quant_rev['InvoiceDate'].apply(lambda x: x.month) == 4
quant_rev = quant_rev.loc[mask2, :]
mask3 = quant_rev['Year'] == '2011'
quant_rev = quant_rev.loc[mask3, :]

quant_rev = quant_rev.groupby('Country')[['Quantity', 'Revenue']].sum().reset_index()

In [86]:
quant_rev

            Country  Quantity   Revenue
0         Australia       224    421.60
1           Austria       308    584.78
2           Belgium      1170   1788.48
3            Brazil       356   1143.60
4   Channel Islands        96    243.00
5              EIRE      4129   7270.50
6           Finland       810   1368.92
7            France      2265   3899.31
8           Germany      5702  10994.79
9            Greece       260    509.74
10          Iceland       483    636.25
11            Italy       653    737.83
12            Japan      8058   6548.50
13      Netherlands      1762   2886.56
14           Poland       432    705.84
15         Portugal       951   1687.75
16        Singapore      1384   2118.74
17            Spain       948   1645.65
18           Sweden       306    649.10
19      Switzerland       878   1756.94
20              USA       137    383.95

In [87]:
quant_rev.iplot(kind='bar', x='Country', color=['red', 'blue'])

## 2. Create an interactive line chart showing quantity and revenue sold to France between January 1st and May 31st 2011.

In [105]:
mask_france = data['Country'] == 'France'
quant_rev_france = data.loc[mask_france, :]

mask_france1 = quant_rev_france['Month'] >= '01'
quant_rev_france = quant_rev_france.loc[mask_france1, :]

mask_france2 = quant_rev_france['Month'] <= '05'
quant_rev_france = quant_rev_france.loc[mask_france2, :]

mask_france3 = quant_rev_france['Year'] == '2011'
quant_rev_france = quant_rev_france.loc[mask_france3, :]

quant_rev_france = quant_rev_france.groupby('Month')[['Quantity', 'Revenue']].sum()

In [106]:
quant_rev_france.reset_index()

  Month  Quantity   Revenue
0    01      9112  16174.12
1    02      5294   7687.96
2    03      8640  13689.55
3    04      2265   3899.31
4    05      9706  16174.88

In [107]:
quant_rev_france.iplot(kind='line', color=['red', 'blue'])

## 3. Create an interactive scatter plot showing the relationship between average quantity (x-axis) and average unit price (y-axis) for the product PARTY BUNTING with the plot points color-coded by country (categories).

In [90]:
data.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Month,Year
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,12,2010
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,12,2010
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,12,2010
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,12,2010
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,12,2010

In [100]:
avg_qt = data.query('Description == "PARTY BUNTING"')
avg_qt = avg_qt.groupby('Country')[['Quantity', 'UnitPrice']].mean().reset_index()
avg_qt

            Country   Quantity  UnitPrice
0         Australia  33.125000   4.712500
1           Austria   8.000000   4.950000
2           Belgium   4.000000   4.950000
3   Channel Islands  13.333333   4.950000
4            Cyprus   2.333333   4.750000
5           Denmark  12.000000   4.950000
6              EIRE  21.210526   4.739474
7           Finland   6.000000   4.950000
8            France   5.727273   4.922727
9           Germany   6.800000   4.890000
10           Israel   1.000000   4.950000
11            Japan  56.666667   4.183333
12          Lebanon  15.000000   4.650000
13      Netherlands  50.000000   4.150000
14           Norway   6.000000   4.950000
15        Singapore   8.000000   4.950000
16     South Africa   4.000000   4.950000
17            Spain   4.750000   4.837500
18      Switzerland  17.200000   4.790000
19   United Kingdom  10.705432   4.880926

In [123]:
avg_qt.iplot(x = 'Quantity', y = 'UnitPrice', mode='markers', color=['purple'])

## 4. Create a set of interactive histograms showing the distributions of quantity per invoice for the following countries: EIRE, Germany, France, and Netherlands.

In [108]:
data.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Month,Year
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,12,2010
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,12,2010
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,12,2010
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,12,2010
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,12,2010

In [5]:
countrylist = ['EIRE', 'Germany', 'France', 'Netherlands']

def distr_plot(countrylist):
    mask = data['Country'].isin(countrylist)
    distr = data.loc[mask, :]
    distr = distr.groupby('InvoiceDate')[['Quantity']].count()
    distr

    distr.iplot(kind='hist', title='Distribution of Quantity per Invoice',
                         xTitle='Total Charges', yTitle='Frequency', bins=20)

## 5. Create an interactive side-by-side bar chart showing the revenue by country listed below (bars) for each of the products listed below.

In [ ]:
product_list = ['JUMBO BAG RED RETROSPOT', 
                'CREAM HANGING HEART T-LIGHT HOLDER',
                'REGENCY CAKESTAND 3 TIER']

country_list = ['EIRE', 'Germany', 'France', 'Netherlands']

## 6. Create an interactive line chart showing quantity sold by day for the United Kingdom. Add drop-down boxes for Year and Month that allow you to filter the date range that appears in the chart.

In [ ]:
data['Year'] = pd.DatetimeIndex(data['InvoiceDate']).year
data['Month'] = pd.DatetimeIndex(data['InvoiceDate']).month
data['Day'] = pd.DatetimeIndex(data['InvoiceDate']).day
uk = data[data['Country']=='United Kingdom']

## 7. Create an interactive scatter plot that plots number of invoices (x-axis) vs. number of customers (y-axis) and the plot points represent individual products. Add two sliders that control the x and y axis ranges.

In [ ]:
agg_func = {'InvoiceNo':'nunique',
            'Quantity':'sum',
            'UnitPrice':'mean',
            'Revenue':'sum',
            'CustomerID':'nunique'}

products = uk.groupby('Description').agg(agg_func)

## 8. Creat an interactive bar chart that shows revenue by product description. Add a text field widget that filters the results to show the product that contain the text entered in their description.