# IMPORTING LIBRARIES

In [67]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

# READING CSV

In [2]:
diamonds = pd.read_csv('./dataset/diamonds.csv')

In [10]:
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
1       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
3       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
4       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
48935   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
48936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
48937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
48938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
48939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[48940 rows x 10 columns]

In [3]:
diamonds.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
1   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
3   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
4   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [5]:
diamonds['price'].mean()

3934.409644462607

In [83]:
rick_diamonds = pd.read_csv('./dataset/rick_diamonds.csv')

In [56]:
diamonds['price_predict'] = diamonds['price'].mean()

In [59]:
r2_score(diamonds.price,diamonds.price_predict)

0.0

In [71]:
math.sqrt(mean_squared_error(diamonds.price,diamonds.price_predict))

3989.293102899151

# Linear Regression

## Import Libraries

In [17]:
from sklearn.linear_model import LinearRegression

## Simple Linear Regression

In [18]:
model = LinearRegression()

In [22]:
diamonds.select_dtypes(exclude = 'object')

       carat  depth  table  price     x     y     z
0       0.21   59.8   61.0    326  3.89  3.84  2.31
1       0.23   56.9   65.0    327  4.05  4.07  2.31
2       0.29   62.4   58.0    334  4.20  4.23  2.63
3       0.31   63.3   58.0    335  4.34  4.35  2.75
4       0.24   62.8   57.0    336  3.94  3.96  2.48
...      ...    ...    ...    ...   ...   ...   ...
48935   0.72   62.7   59.0   2757  5.69  5.73  3.58
48936   0.72   60.8   57.0   2757  5.75  5.76  3.50
48937   0.72   63.1   55.0   2757  5.69  5.75  3.61
48938   0.70   62.8   60.0   2757  5.66  5.68  3.56
48939   0.75   62.2   55.0   2757  5.83  5.87  3.64

[48940 rows x 7 columns]

In [35]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [36]:
X = diamonds.select_dtypes(exclude = 'object')[['carat', 'depth', 'table', 'x', 'y', 'z']]
y = diamonds['price']

In [37]:
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
model.predict(X)

array([ -62.99079645,  138.62802162,  196.78872801, ..., 3133.45032839,
       2504.97091414, 3462.59416136])

In [60]:
diamonds['price_predict_l'] = model.predict(X)

In [61]:
diamonds

,carat,cut,color,clarity,depth,table,price,x,y,z,price_predict,price_predict_l
0,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,3934.409644,-62.990796
1,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,3934.409644,138.628022
2,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3934.409644,196.788728
3,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,3934.409644,55.407364
4,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,3934.409644,1.375408
...,...,...,...,...,...,...,...,...,...,...,...,...
48935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58,3934.409644,2805.480854
48936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,3934.409644,3316.531942
48937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,3934.409644,3133.450328
48938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3934.409644,2504.970914
48939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,3934.409644,3462.594161

R2 Score

In [62]:
r2_score(diamonds.price,diamonds.price_predict_l)

0.860332196313374

Mean Squared Error

In [72]:
math.sqrt(mean_squared_error(diamonds.price,diamonds.price_predict_l))

1490.884837858107

In [73]:
X = rick_diamonds.select_dtypes(exclude = 'object')[['carat', 'depth', 'table', 'x', 'y', 'z']]

In [74]:
X

      carat  depth  table     x     y     z
0      0.91   63.4   57.0  6.10  6.18  3.89
1      0.38   60.3   61.0  4.68  4.71  2.83
2      0.52   61.8   56.0  5.19  5.16  3.20
3      1.10   61.3   56.0  6.65  6.69  4.09
4      2.28   61.6   57.0  8.44  8.37  5.18
...     ...    ...    ...   ...   ...   ...
4995   0.30   62.2   59.0  4.25  4.30  2.66
4996   0.51   61.9   56.0  5.09  5.14  3.16
4997   1.01   60.6   60.0  6.37  6.43  3.88
4998   0.31   62.1   56.0  4.35  4.38  2.71
4999   0.33   61.8   55.0  4.45  4.48  2.76

[5000 rows x 6 columns]

In [84]:
rick_diamonds['price_predicted'] = model.predict(X)

In [85]:
rick_diamonds

,carat,cut,color,clarity,depth,table,x,y,z,price_predicted
0,0.91,Very Good,H,SI2,63.4,57.0,6.10,6.18,3.89,4399.951211
1,0.38,Good,F,VS2,60.3,61.0,4.68,4.71,2.83,688.979203
2,0.52,Ideal,H,VS2,61.8,56.0,5.19,5.16,3.20,1762.183170
3,1.10,Ideal,G,VS1,61.3,56.0,6.65,6.69,4.09,6279.330093
4,2.28,Ideal,G,SI2,61.6,57.0,8.44,8.37,5.18,16535.479565
...,...,...,...,...,...,...,...,...,...,...
4995,0.30,Very Good,D,SI2,62.2,59.0,4.25,4.30,2.66,182.415273
4996,0.51,Ideal,F,VVS2,61.9,56.0,5.09,5.14,3.16,1763.013006
4997,1.01,Very Good,F,SI1,60.6,60.0,6.37,6.43,3.88,5395.601147
4998,0.31,Ideal,F,VVS1,62.1,56.0,4.35,4.38,2.71,490.765313
4999,0.33,Ideal,E,VS2,61.8,55.0,4.45,4.48,2.76,744.406986

In [86]:
rick_diamonds.to_csv('./dataset/first_deliverable.csv', encoding='utf-8', index=False)

In [79]:
rick = pd.read_csv('./dataset/first_deliverable.csv')

In [80]:
rick

,carat,cut,color,clarity,depth,table,x,y,z,price_predict
0,0.91,Very Good,H,SI2,63.4,57.0,6.10,6.18,3.89,4399.951211
1,0.38,Good,F,VS2,60.3,61.0,4.68,4.71,2.83,688.979203
2,0.52,Ideal,H,VS2,61.8,56.0,5.19,5.16,3.20,1762.183170
3,1.10,Ideal,G,VS1,61.3,56.0,6.65,6.69,4.09,6279.330093
4,2.28,Ideal,G,SI2,61.6,57.0,8.44,8.37,5.18,16535.479565
...,...,...,...,...,...,...,...,...,...,...
4995,0.30,Very Good,D,SI2,62.2,59.0,4.25,4.30,2.66,182.415273
4996,0.51,Ideal,F,VVS2,61.9,56.0,5.09,5.14,3.16,1763.013006
4997,1.01,Very Good,F,SI1,60.6,60.0,6.37,6.43,3.88,5395.601147
4998,0.31,Ideal,F,VVS1,62.1,56.0,4.35,4.38,2.71,490.765313
4999,0.33,Ideal,E,VS2,61.8,55.0,4.45,4.48,2.76,744.406986